table {
  background-color:black;
  margin:50px auto;
}


table tbody td {
  height:60px;
  width:60px;
  background-color:green;
  text-align:center;
  line-height:60px;
  font-size:60px; 
  color:white;
  cursor:pointer;
}

able {
  
}
